/*
* Author: Dariusz Markowiczz
*/
@import url(https://fonts.googleapis.com/css?family=Quicksand|Amatic+SC);
.pngfiles-sprite, .pngfiles-ang, .pngfiles-commandline, .pngfiles-facebook, .pngfiles-githhub, .pngfiles-linkedin, .pngfiles-obscurabus, .pngfiles-phone, .pngfiles-pl, .pngfiles-roweuek {
  background-image: url('../media/pngfiles-sf0b8051d81.png');
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  box-sizing: border-box;
  font-size: 2vw;
  color: #FFF;
  margin: 0;
}
nav ol {
  list-style-type: none;
  padding: 0;
}
nav ol > li:nth-child(1) {
  position: fixed;
  bottom: 50%;
  margin-left: 5%;
  float: left;
}
nav ol > li:nth-child(2) {
  position: fixed;
  bottom: 50%;
  right: 5%;
  float: right;
}
nav ul {
  position: fixed;
  bottom: 22.5%;
  height: 55%;
  width: 25%;
  right: -5%;
  z-index: 2;
  list-style-type: none;
}
nav ul li {
  display: none;
  padding: 4%;
}

header {
  position: relative;
}

h1 {
  position: absolute;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 15%;
  font-size: 4vw;
  color: rgba(255, 255, 255, 0.8);
  border: rgba(255, 255, 255, 0.8) 4px solid;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  margin: -1%;
}

.blur-svg {
  display: none;
}

.contactPage {
  position: fixed;
  z-index: 2;
}

.contactForm {
  width: 50%;
  height: 55%;
  margin-left: 25%;
  margin-top: 12.5%;
  display: none;
}

.contactForm input:-moz-placeholder {
  color: #FFF;
}
.contactForm input::-moz-placeholder {
  color: #FFF;
}
.contactForm input:-ms-input-placeholder {
  color: #FFF;
}
.contactForm input::-webkit-input-placeholder {
  color: #FFF;
}
.contactForm input:focus:-moz-placeholder {
  color: transparent;
}
.contactForm input:focus::-moz-placeholder {
  color: transparent;
}
.contactForm input:focus:-ms-input-placeholder {
  color: transparent;
}
.contactForm input:focus::-webkit-input-placeholder {
  color: transparent;
}

.contactForm input, .contactForm textarea {
  padding: 1% 0% 1% 2%;
  margin-top: -1px;
  color: #FFF;
  font-size: 1.5vw;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  border: none;
}

input:focus {
  outline-color: #FFF;
}

textarea:focus {
  outline-color: #FFF;
}

.contactForm input[type=submit] {
  margin-top: -5px;
  width: 102%;
}

.contactForm textarea {
  height: 12rem;
  border-bottom: none;
}

.contactForm input:hover, .contactForm textarea:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.contactMore {
  position: fixed;
  bottom: 4%;
  right: 4%;
  display: none;
}

.subCointainer h2, p {
  position: relative;
  width: 55%;
  left: 22.5%;
}

.subCointainer a, footer a {
  border-bottom: 1px solid #FFF;
  transition: border-width 0.1s ease-out;
}
.subCointainer a:hover, footer a:hover {
  border-bottom: 4px solid #FFF;
}

.aboutME, .skills, .hobby, .experience, .education, .qualifications {
  padding: 5%;
  height: auto;
  font-size: 2vw;
  color: #FFF;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

hr {
  width: 55%;
  border: 1px #FFF solid;
}

.aboutME {
  margin-top: 55%;
  background-color: #2ECC71;
}

.skills {
  background-color: #C0392B;
}

.hobby {
  background-color: #7F8C8D;
}

.experience {
  background-color: #16A085;
}

.education {
  background-color: #3498DB;
}

.qualifications {
  background-color: #F39C12;
}

.simpleParalax {
  padding: 16% 0 16% 0;
}

footer {
  font-size: 1.9vw;
  padding: 2%;
  color: rgba(255, 255, 255, 0.8);
}

footer a {
  float: right;
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-size: cover;
}

#cursorText {
  -webkit-animation: flash 1s infinite;
  animation: flash 1s infinite;
}
@-webkit-keyframes flash {
  to {
    opacity: .0;
  }
}
@keyframes flash {
  to {
    opacity: .0;
  }
}
.pngfiles-ang {
  background-position: 0 0;
  height: 20px;
  width: 30px;
}

.pngfiles-commandline {
  background-position: 0 -20px;
  height: 56px;
  width: 64px;
}

.pngfiles-facebook {
  background-position: 0 -76px;
  height: 48px;
  width: 48px;
}

.pngfiles-githhub {
  background-position: 0 -124px;
  height: 48px;
  width: 48px;
}

.pngfiles-linkedin {
  background-position: 0 -172px;
  height: 48px;
  width: 48px;
}

.pngfiles-obscurabus {
  background-position: 0 -220px;
  height: 64px;
  width: 122px;
}

.pngfiles-phone {
  background-position: 0 -284px;
  height: 48px;
  width: 48px;
}

.pngfiles-pl {
  background-position: 0 -332px;
  height: 20px;
  width: 32px;
}

.pngfiles-roweuek {
  background-position: 0 -352px;
  height: 64px;
  width: 64px;
}

.pngfiles-sprite, .pngfiles-ang, .pngfiles-commandline, .pngfiles-facebook, .pngfiles-githhub, .pngfiles-linkedin, .pngfiles-obscurabus, .pngfiles-phone, .pngfiles-pl, .pngfiles-roweuek {
  display: inline-block;
  vertical-align: middle;
}

body, html {
  height: 100%;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

.mainCointainer {
  position: absolute;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}

/*
MOBILE
*/
@media only screen and (max-width: 500px) {
  h1 {
    margin-top: 10%;
  }

  .mainCointainer {
    text-align: left;
  }

  .subCointainer h2, p {
    width: 95%;
    left: 2.5%;
  }

  hr {
    width: 95%;
  }

  .aboutME, .skills, .hobby, .experience, .education, .qualifications, .contactForm input, .contactForm textarea {
    padding: 1%;
    font-size: 6vw;
  }

  nav ul {
    bottom: 10%;
  }

  nav ol > li:nth-child(1) {
    font-size: 1rem;
    bottom: 82.5%;
  }

  nav ol > li:nth-child(2) {
    display: none;
  }
}
